/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 90%; /* 横幅90% */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

header .heading {
  /* headerタグ内のheadingクラスにのみ反映される */
  font-size: 32px;
}

.nav-list {
  text-align: center;
  line-height: 15px;
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid #848282;
  border-top: 1px solid #848282;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  line-height: 50px;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}
.box1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: #cdf8d2;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: #bff8c5;
}
.box4 {
  width: 200px;
  height: 200px;
  background-color: #9ff7a9;
}
.box5 {
  width: 200px;
  height: 200px;
  background-color: #ffffe6;
}
.box6 {
  width: 200px;
  height: 200px;
  background-color: #f3fab8;
}
.box7 {
  width: 200px;
  height: 200px;
  background-color: #ffff80;
}
.box8 {
  width: 200px;
  height: 200px;
  background-color: #e4f35b;
}
.box9 {
  width: 200px;
  height: 200px;
  background-color: #e6efff;
}
.box10 {
  width: 200px;
  height: 200px;
  background-color: #c3d8fc;
}
.box11 {
  width: 200px;
  height: 200px;
  background-color: #9ec1ff;
}
.box12 {
  width: 200px;
  height: 200px;
  background-color: #82adf7;
}
.footer-text {
  color: #fff;
}
